<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="utf-8">
            <title>Homepage</title>
        </head>
        <body>
            <h1> Let's build a digest of covid-19 information!</h1>
            <img src="static/Coronavirus_3D.png" width ="800" height="600">
            <fieldset>
                <a href="{{url_for('sourceSelection')}}">Start</a>
                <p>We will first be asking yout to choose from a list of verified users.</p>
            </fieldset>
           
</body>
</html>