<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="utf-8">
            <title>sourceSelection</title>
        </head>
        <body>
            <a href="timeSelection.html"> time selection link</a>
            <h1>Source Selection</h1>
        </body>
        <p>Select from out list of verified sources...</p>
        <form action="/static/sourceSelection.html" method="post">
            <fieldset>
                <select mutliple>
                    <option value="JoeBiden">@JoeBiden</option>
                    <option value="CDC">@CDC</option>
                    <option value="LocalGov">@LocalGov</option>
                    <option value="Scientist1">@Scientist1</option>
                    <option value="AFauci">@AFauci</option>
                    <button type="submit">Next</button>
                    <input type="submit" value="Submit">
                </select>
            </fieldset>
        </form>
</html>